.app {
  margin: auto;
  display: flex;
  justify-content: center;
  top: 20%;
  text-align: center;
  position: absolute;
  align-items: center;
  width: 100%;
}
.content {
  margin-left: auto;
  margin-right: auto;
}
